* { /* Cambiar a body si queda muy pegado */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Zalando Sans SemiExpanded", sans-serif;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #1F2933;
    text-decoration: none;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}


